.container{// add all per = 10
	width: 970px;
	margin: 0 auto;
	margin-bottom: 16px;
	&::before,&::after{
		content: '';
		display: table;
		line-height: 0;
	}
	&::after{
		clear: both;
	}
	@for $i from 0 to 10{
		.pc-span#{$i+1}{
			width: (8.2% * ($i+1) + 2% * $i);
			margin-left: 2%;
			float: left;
			padding: 9px;
			&::before,&::after{
				content: '';
				display: table;
				line-height: 0;
			}
			&::after{
				clear: both;
			}
			
		}
	}
	[class*="pc-span"]:first-child{
		margin-left: 0;
	}
}