/* line 2, ../sass/_home.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../sass/_home.scss */
*::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 14, ../sass/_home.scss */
a {
  text-decoration: none;
  color: #85c51f;
}
/* line 17, ../sass/_home.scss */
a:hover {
  color: #80bd1e;
}
/* line 20, ../sass/_home.scss */
a:active {
  color: #7cb71d;
}

/* line 24, ../sass/_home.scss */
ol, ul, li {
  list-style: none;
  list-style-type: none;
}

/* line 29, ../sass/_home.scss */
body {
  color: #333;
  background: #fff;
  font-size: 14px;
  font-family: microsoft yahei,tahoma,arial,\5b8b\4f53,sans-serif;
  line-height: 1.428;
}

/* line 38, ../sass/_home.scss */
.clearfix {
  *zoom: 1;
}

/* line 43, ../sass/_home.scss */
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

/* line 49, ../sass/_home.scss */
.clearfix:after {
  clear: both;
}

/* line 52, ../sass/_home.scss */
.float-right {
  float: right !important;
}

/* line 55, ../sass/_home.scss */
.float-left {
  float: left !important;
}

/* line 1, ../sass/dpl/_text.scss */
h1 {
  font-size: 36px;
}

/* line 4, ../sass/dpl/_text.scss */
h2 {
  font-size: 30px;
}

/* line 7, ../sass/dpl/_text.scss */
h3 {
  font-size: 24px;
}

/* line 10, ../sass/dpl/_text.scss */
h4 {
  font-size: 18px;
}

/* line 13, ../sass/dpl/_text.scss */
h5 {
  font-size: 14px;
}

/* line 16, ../sass/dpl/_text.scss */
h6 {
  font-size: 12px;
}

/* line 26, ../sass/dpl/_text.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  margin-bottom: 9px;
}
/* line 32, ../sass/dpl/_text.scss */
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-size: 80%;
  font-weight: 400px;
  color: #777777;
  line-height: 1;
}

/* line 41, ../sass/dpl/_text.scss */
p {
  margin: 0 0 9px;
}
/* line 43, ../sass/dpl/_text.scss */
p small {
  font-size: 80%;
  font-weight: 400px;
  color: #777777;
  line-height: 1;
}

/* line 51, ../sass/dpl/_text.scss */
strong {
  font-weight: 700;
}

/* line 55, ../sass/dpl/_text.scss */
.text-left {
  text-align: left;
}

/* line 58, ../sass/dpl/_text.scss */
.text-center {
  text-align: center;
}

/* line 61, ../sass/dpl/_text.scss */
.text-right {
  text-align: right;
}

/* line 64, ../sass/dpl/_text.scss */
.text-zh {
  text-indent: 2em;
}

/* line 68, ../sass/dpl/_text.scss */
abbr {
  cursor: help;
  border-bottom: 1px dotted #777;
}

/* line 6, ../sass/dpl/_input.scss */
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
input[type="password"] {
  width: 100%;
  height: 34px;
  line-height: 34px\9;
  _line-height: 34px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #E9E9E9;
  color: #999;
  font-size: 14px;
  padding-left: 0.5em;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
/* line 17, ../sass/dpl/_input.scss */
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  color: #999;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 5px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 5px rgba(82, 168, 236, 0.6);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 5px rgba(82, 168, 236, 0.6);
}

/* line 25, ../sass/dpl/_input.scss */
input[disabled] {
  cursor: not-allowed;
  background-color: #F6F6F6;
}

/* line 35, ../sass/dpl/_input.scss */
input[type="search"].error,
input[type="text"].error,
input[type="password"].error,
input[type="email"].error,
input[type="number"].error,
input[type="tel"].error {
  border-color: rgba(236, 0, 0, 0.8);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 5px rgba(236, 0, 0, 0.8);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 5px rgba(236, 0, 0, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 5px rgba(236, 0, 0, 0.8);
}

/* line 44, ../sass/dpl/_input.scss */
input[type="text"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder {
  color: #ccc;
}

/* line 1, ../sass/dpl/_btn.scss */
.btn {
  color: #fff;
  background: #85c51f;
  font-size: 14px;
  padding: 8px 14px;
  border: 0;
  cursor: pointer;
  position: relative;
  margin-right: 9px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  line-height: 1.428;
  margin-bottom: 9px;
}
/* line 14, ../sass/dpl/_btn.scss */
.btn:focus {
  border: 0;
  outline: 0;
  color: #fff;
}
/* line 19, ../sass/dpl/_btn.scss */
.btn:hover {
  background: #80bd1e;
  color: #fff;
}
/* line 23, ../sass/dpl/_btn.scss */
.btn:active {
  border: 0;
  outline: 0;
  background: #77b11c;
  color: #fff;
}

/* line 31, ../sass/dpl/_btn.scss */
.btn-move:hover {
  -webkit-box-shadow: 1px 1px 4px #bbbbbb;
  -moz-box-shadow: 1px 1px 4px #bbbbbb;
  box-shadow: 1px 1px 4px #bbbbbb;
}
/* line 34, ../sass/dpl/_btn.scss */
.btn-move:active {
  left: 1px;
  top: 1px;
}

/* line 39, ../sass/dpl/_btn.scss */
.btn-large {
  padding: 9px 39px;
  font-size: 17.5px;
  margin-right: 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 45, ../sass/dpl/_btn.scss */
.btn-mini {
  padding: 4px 10px;
  font-size: 10px;
  margin-right: 5px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
}

/* line 51, ../sass/dpl/_btn.scss */
.btn-yellow {
  background: #f4aa28;
}
/* line 53, ../sass/dpl/_btn.scss */
.btn-yellow:hover {
  background: #f3a720;
}
/* line 56, ../sass/dpl/_btn.scss */
.btn-yellow:active {
  background: #f2a31a;
}

/* line 60, ../sass/dpl/_btn.scss */
.btn-gray {
  background: #f3f3f3;
  color: #666;
}
/* line 63, ../sass/dpl/_btn.scss */
.btn-gray:hover {
  background: #eeeded;
  color: #666;
}
/* line 67, ../sass/dpl/_btn.scss */
.btn-gray:active {
  background: #eae7e7;
  color: #666;
}
/* line 71, ../sass/dpl/_btn.scss */
.btn-gray:focus {
  background: #eae7e7;
  color: #666;
}

/* line 77, ../sass/dpl/_btn.scss */
.btn[disabled] {
  color: #666;
  background: #f3f3f3;
}
/* line 80, ../sass/dpl/_btn.scss */
.btn[disabled]:hover {
  background: #f3f3f3;
  color: #666;
  cursor: default;
}
/* line 85, ../sass/dpl/_btn.scss */
.btn[disabled]:active {
  border: 0;
  outline: 0;
  background: #f3f3f3;
  color: #666;
  top: 0;
  left: 0;
}

/* line 2, ../sass/dpl/_select.scss */
select {
  margin: 0;
  cursor: pointer;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  height: auto;
  padding: 6px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #555555;
  vertical-align: middle;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background-color: #ffffff;
  border: 1px solid #E9E9E9;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
/* line 19, ../sass/dpl/_select.scss */
select:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 5px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 5px rgba(82, 168, 236, 0.6);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 5px rgba(82, 168, 236, 0.6);
}

/* line 1, ../sass/dpl/_table.scss */
table {
  border-color: transparent;
  border-spacing: 0;
  border-collapse: collapse;
}

/* line 6, ../sass/dpl/_table.scss */
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 16px;
}
/* line 12, ../sass/dpl/_table.scss */
.table thead tr th {
  border-bottom: 1px solid #eee;
  vertical-align: bottom;
  padding: 7px;
  line-height: 1.428;
  text-align: left;
}
/* line 23, ../sass/dpl/_table.scss */
.table tbody tr td {
  padding: 7px;
  border-top: 1px solid #eee;
  vertical-align: top;
  line-height: 1.428;
  text-align: left;
}

/* line 38, ../sass/dpl/_table.scss */
.table-odd tbody tr:nth-child(odd) td {
  background: #f9f9f9;
}

/* line 45, ../sass/dpl/_table.scss */
.table-border {
  border: 1px solid #eee;
}
/* line 49, ../sass/dpl/_table.scss */
.table-border thead tr th {
  border: 1px solid #eee;
}
/* line 56, ../sass/dpl/_table.scss */
.table-border tbody tr td {
  border: 1px solid #eee;
}

/* line 66, ../sass/dpl/_table.scss */
.table-hover tbody tr:hover td {
  background: #f5f5f5;
}

@media screen and (max-width: 767px) {
  /* line 74, ../sass/dpl/_table.scss */
  .table-auto {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
  }
  /* line 79, ../sass/dpl/_table.scss */
  .table-auto table th {
    white-space: nowrap;
  }
  /* line 82, ../sass/dpl/_table.scss */
  .table-auto table td {
    white-space: nowrap;
  }
}
/* line 2, ../sass/dpl/_formgroup.scss */
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
  cursor: pointer;
}

/* line 9, ../sass/dpl/_formgroup.scss */
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* line 16, ../sass/dpl/_formgroup.scss */
.radio-group,
.checkbox-group {
  margin-bottom: 9px;
}
/* line 18, ../sass/dpl/_formgroup.scss */
.radio-group label,
.checkbox-group label {
  padding-left: 20px;
  font-weight: 400;
  cursor: pointer;
  max-width: 100%;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 26, ../sass/dpl/_formgroup.scss */
.radio-group label input[type="radio"],
.radio-group label input[type="checkbox"],
.checkbox-group label input[type="radio"],
.checkbox-group label input[type="checkbox"] {
  margin-left: -16px;
  position: absolute;
}

/* line 34, ../sass/dpl/_formgroup.scss */
.radio-group-more label,
.checkbox-group-more label {
  margin-right: 16px;
}

/* line 12, ../sass/dpl/_width.scss */
.container {
  width: 970px;
  margin: 0 auto;
  margin-bottom: 16px;
}
/* line 16, ../sass/dpl/_width.scss */
.container::before, .container::after {
  content: '';
  display: table;
  line-height: 0;
}
/* line 21, ../sass/dpl/_width.scss */
.container::after {
  clear: both;
}

@media screen and (min-width: 768px) {
  /* line 29, ../sass/dpl/_width.scss */
  .container {
    width: 750px;
  }
  /* line 32, ../sass/dpl/_width.scss */
  .container .pc-span1 {
    width: 8.2%;
    margin-left: 2%;
    float: left;
    padding: 9px;
  }
  /* line 37, ../sass/dpl/_width.scss */
  .container .pc-span1::before, .container .pc-span1::after {
    content: '';
    display: table;
    line-height: 0;
  }
  /* line 42, ../sass/dpl/_width.scss */
  .container .pc-span1::after {
    clear: both;
  }
  /* line 32, ../sass/dpl/_width.scss */
  .container .pc-span2 {
    width: 18.4%;
    margin-left: 2%;
    float: left;
    padding: 9px;
  }
  /* line 37, ../sass/dpl/_width.scss */
  .container .pc-span2::before, .container .pc-span2::after {
    content: '';
    display: table;
    line-height: 0;
  }
  /* line 42, ../sass/dpl/_width.scss */
  .container .pc-span2::after {
    clear: both;
  }
  /* line 32, ../sass/dpl/_width.scss */
  .container .pc-span3 {
    width: 28.6%;
    margin-left: 2%;
    float: left;
    padding: 9px;
  }
  /* line 37, ../sass/dpl/_width.scss */
  .container .pc-span3::before, .container .pc-span3::after {
    content: '';
    display: table;
    line-height: 0;
  }
  /* line 42, ../sass/dpl/_width.scss */
  .container .pc-span3::after {
    clear: both;
  }
  /* line 32, ../sass/dpl/_width.scss */
  .container .pc-span4 {
    width: 38.8%;
    margin-left: 2%;
    float: left;
    padding: 9px;
  }
  /* line 37, ../sass/dpl/_width.scss */
  .container .pc-span4::before, .container .pc-span4::after {
    content: '';
    display: table;
    line-height: 0;
  }
  /* line 42, ../sass/dpl/_width.scss */
  .container .pc-span4::after {
    clear: both;
  }
  /* line 32, ../sass/dpl/_width.scss */
  .container .pc-span5 {
    width: 49%;
    margin-left: 2%;
    float: left;
    padding: 9px;
  }
  /* line 37, ../sass/dpl/_width.scss */
  .container .pc-span5::before, .container .pc-span5::after {
    content: '';
    display: table;
    line-height: 0;
  }
  /* line 42, ../sass/dpl/_width.scss */
  .container .pc-span5::after {
    clear: both;
  }
  /* line 32, ../sass/dpl/_width.scss */
  .container .pc-span6 {
    width: 59.2%;
    margin-left: 2%;
    float: left;
    padding: 9px;
  }
  /* line 37, ../sass/dpl/_width.scss */
  .container .pc-span6::before, .container .pc-span6::after {
    content: '';
    display: table;
    line-height: 0;
  }
  /* line 42, ../sass/dpl/_width.scss */
  .container .pc-span6::after {
    clear: both;
  }
  /* line 32, ../sass/dpl/_width.scss */
  .container .pc-span7 {
    width: 69.4%;
    margin-left: 2%;
    float: left;
    padding: 9px;
  }
  /* line 37, ../sass/dpl/_width.scss */
  .container .pc-span7::before, .container .pc-span7::after {
    content: '';
    display: table;
    line-height: 0;
  }
  /* line 42, ../sass/dpl/_width.scss */
  .container .pc-span7::after {
    clear: both;
  }
  /* line 32, ../sass/dpl/_width.scss */
  .container .pc-span8 {
    width: 79.6%;
    margin-left: 2%;
    float: left;
    padding: 9px;
  }
  /* line 37, ../sass/dpl/_width.scss */
  .container .pc-span8::before, .container .pc-span8::after {
    content: '';
    display: table;
    line-height: 0;
  }
  /* line 42, ../sass/dpl/_width.scss */
  .container .pc-span8::after {
    clear: both;
  }
  /* line 32, ../sass/dpl/_width.scss */
  .container .pc-span9 {
    width: 89.8%;
    margin-left: 2%;
    float: left;
    padding: 9px;
  }
  /* line 37, ../sass/dpl/_width.scss */
  .container .pc-span9::before, .container .pc-span9::after {
    content: '';
    display: table;
    line-height: 0;
  }
  /* line 42, ../sass/dpl/_width.scss */
  .container .pc-span9::after {
    clear: both;
  }
  /* line 32, ../sass/dpl/_width.scss */
  .container .pc-span10 {
    width: 100%;
    margin-left: 2%;
    float: left;
    padding: 9px;
  }
  /* line 37, ../sass/dpl/_width.scss */
  .container .pc-span10::before, .container .pc-span10::after {
    content: '';
    display: table;
    line-height: 0;
  }
  /* line 42, ../sass/dpl/_width.scss */
  .container .pc-span10::after {
    clear: both;
  }
  /* line 48, ../sass/dpl/_width.scss */
  .container [class*="pc-span"]:first-child {
    margin-left: 0;
  }
}
@media screen and (min-width: 992px) {
  /* line 54, ../sass/dpl/_width.scss */
  .container {
    width: 970px;
  }
  /* line 57, ../sass/dpl/_width.scss */
  .container .pc-span1 {
    width: 8.2%;
    margin-left: 2%;
    float: left;
    padding: 9px;
  }
  /* line 62, ../sass/dpl/_width.scss */
  .container .pc-span1::before, .container .pc-span1::after {
    content: '';
    display: table;
    line-height: 0;
  }
  /* line 67, ../sass/dpl/_width.scss */
  .container .pc-span1::after {
    clear: both;
  }
  /* line 57, ../sass/dpl/_width.scss */
  .container .pc-span2 {
    width: 18.4%;
    margin-left: 2%;
    float: left;
    padding: 9px;
  }
  /* line 62, ../sass/dpl/_width.scss */
  .container .pc-span2::before, .container .pc-span2::after {
    content: '';
    display: table;
    line-height: 0;
  }
  /* line 67, ../sass/dpl/_width.scss */
  .container .pc-span2::after {
    clear: both;
  }
  /* line 57, ../sass/dpl/_width.scss */
  .container .pc-span3 {
    width: 28.6%;
    margin-left: 2%;
    float: left;
    padding: 9px;
  }
  /* line 62, ../sass/dpl/_width.scss */
  .container .pc-span3::before, .container .pc-span3::after {
    content: '';
    display: table;
    line-height: 0;
  }
  /* line 67, ../sass/dpl/_width.scss */
  .container .pc-span3::after {
    clear: both;
  }
  /* line 57, ../sass/dpl/_width.scss */
  .container .pc-span4 {
    width: 38.8%;
    margin-left: 2%;
    float: left;
    padding: 9px;
  }
  /* line 62, ../sass/dpl/_width.scss */
  .container .pc-span4::before, .container .pc-span4::after {
    content: '';
    display: table;
    line-height: 0;
  }
  /* line 67, ../sass/dpl/_width.scss */
  .container .pc-span4::after {
    clear: both;
  }
  /* line 57, ../sass/dpl/_width.scss */
  .container .pc-span5 {
    width: 49%;
    margin-left: 2%;
    float: left;
    padding: 9px;
  }
  /* line 62, ../sass/dpl/_width.scss */
  .container .pc-span5::before, .container .pc-span5::after {
    content: '';
    display: table;
    line-height: 0;
  }
  /* line 67, ../sass/dpl/_width.scss */
  .container .pc-span5::after {
    clear: both;
  }
  /* line 57, ../sass/dpl/_width.scss */
  .container .pc-span6 {
    width: 59.2%;
    margin-left: 2%;
    float: left;
    padding: 9px;
  }
  /* line 62, ../sass/dpl/_width.scss */
  .container .pc-span6::before, .container .pc-span6::after {
    content: '';
    display: table;
    line-height: 0;
  }
  /* line 67, ../sass/dpl/_width.scss */
  .container .pc-span6::after {
    clear: both;
  }
  /* line 57, ../sass/dpl/_width.scss */
  .container .pc-span7 {
    width: 69.4%;
    margin-left: 2%;
    float: left;
    padding: 9px;
  }
  /* line 62, ../sass/dpl/_width.scss */
  .container .pc-span7::before, .container .pc-span7::after {
    content: '';
    display: table;
    line-height: 0;
  }
  /* line 67, ../sass/dpl/_width.scss */
  .container .pc-span7::after {
    clear: both;
  }
  /* line 57, ../sass/dpl/_width.scss */
  .container .pc-span8 {
    width: 79.6%;
    margin-left: 2%;
    float: left;
    padding: 9px;
  }
  /* line 62, ../sass/dpl/_width.scss */
  .container .pc-span8::before, .container .pc-span8::after {
    content: '';
    display: table;
    line-height: 0;
  }
  /* line 67, ../sass/dpl/_width.scss */
  .container .pc-span8::after {
    clear: both;
  }
  /* line 57, ../sass/dpl/_width.scss */
  .container .pc-span9 {
    width: 89.8%;
    margin-left: 2%;
    float: left;
    padding: 9px;
  }
  /* line 62, ../sass/dpl/_width.scss */
  .container .pc-span9::before, .container .pc-span9::after {
    content: '';
    display: table;
    line-height: 0;
  }
  /* line 67, ../sass/dpl/_width.scss */
  .container .pc-span9::after {
    clear: both;
  }
  /* line 57, ../sass/dpl/_width.scss */
  .container .pc-span10 {
    width: 100%;
    margin-left: 2%;
    float: left;
    padding: 9px;
  }
  /* line 62, ../sass/dpl/_width.scss */
  .container .pc-span10::before, .container .pc-span10::after {
    content: '';
    display: table;
    line-height: 0;
  }
  /* line 67, ../sass/dpl/_width.scss */
  .container .pc-span10::after {
    clear: both;
  }
  /* line 73, ../sass/dpl/_width.scss */
  .container [class*="pc-span"]:first-child {
    margin-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  /* line 79, ../sass/dpl/_width.scss */
  .container {
    width: 1170px;
  }
  /* line 82, ../sass/dpl/_width.scss */
  .container .pc-span1 {
    width: 8.2%;
    margin-left: 2%;
    float: left;
    padding: 9px;
  }
  /* line 87, ../sass/dpl/_width.scss */
  .container .pc-span1::before, .container .pc-span1::after {
    content: '';
    display: table;
    line-height: 0;
  }
  /* line 92, ../sass/dpl/_width.scss */
  .container .pc-span1::after {
    clear: both;
  }
  /* line 82, ../sass/dpl/_width.scss */
  .container .pc-span2 {
    width: 18.4%;
    margin-left: 2%;
    float: left;
    padding: 9px;
  }
  /* line 87, ../sass/dpl/_width.scss */
  .container .pc-span2::before, .container .pc-span2::after {
    content: '';
    display: table;
    line-height: 0;
  }
  /* line 92, ../sass/dpl/_width.scss */
  .container .pc-span2::after {
    clear: both;
  }
  /* line 82, ../sass/dpl/_width.scss */
  .container .pc-span3 {
    width: 28.6%;
    margin-left: 2%;
    float: left;
    padding: 9px;
  }
  /* line 87, ../sass/dpl/_width.scss */
  .container .pc-span3::before, .container .pc-span3::after {
    content: '';
    display: table;
    line-height: 0;
  }
  /* line 92, ../sass/dpl/_width.scss */
  .container .pc-span3::after {
    clear: both;
  }
  /* line 82, ../sass/dpl/_width.scss */
  .container .pc-span4 {
    width: 38.8%;
    margin-left: 2%;
    float: left;
    padding: 9px;
  }
  /* line 87, ../sass/dpl/_width.scss */
  .container .pc-span4::before, .container .pc-span4::after {
    content: '';
    display: table;
    line-height: 0;
  }
  /* line 92, ../sass/dpl/_width.scss */
  .container .pc-span4::after {
    clear: both;
  }
  /* line 82, ../sass/dpl/_width.scss */
  .container .pc-span5 {
    width: 49%;
    margin-left: 2%;
    float: left;
    padding: 9px;
  }
  /* line 87, ../sass/dpl/_width.scss */
  .container .pc-span5::before, .container .pc-span5::after {
    content: '';
    display: table;
    line-height: 0;
  }
  /* line 92, ../sass/dpl/_width.scss */
  .container .pc-span5::after {
    clear: both;
  }
  /* line 82, ../sass/dpl/_width.scss */
  .container .pc-span6 {
    width: 59.2%;
    margin-left: 2%;
    float: left;
    padding: 9px;
  }
  /* line 87, ../sass/dpl/_width.scss */
  .container .pc-span6::before, .container .pc-span6::after {
    content: '';
    display: table;
    line-height: 0;
  }
  /* line 92, ../sass/dpl/_width.scss */
  .container .pc-span6::after {
    clear: both;
  }
  /* line 82, ../sass/dpl/_width.scss */
  .container .pc-span7 {
    width: 69.4%;
    margin-left: 2%;
    float: left;
    padding: 9px;
  }
  /* line 87, ../sass/dpl/_width.scss */
  .container .pc-span7::before, .container .pc-span7::after {
    content: '';
    display: table;
    line-height: 0;
  }
  /* line 92, ../sass/dpl/_width.scss */
  .container .pc-span7::after {
    clear: both;
  }
  /* line 82, ../sass/dpl/_width.scss */
  .container .pc-span8 {
    width: 79.6%;
    margin-left: 2%;
    float: left;
    padding: 9px;
  }
  /* line 87, ../sass/dpl/_width.scss */
  .container .pc-span8::before, .container .pc-span8::after {
    content: '';
    display: table;
    line-height: 0;
  }
  /* line 92, ../sass/dpl/_width.scss */
  .container .pc-span8::after {
    clear: both;
  }
  /* line 82, ../sass/dpl/_width.scss */
  .container .pc-span9 {
    width: 89.8%;
    margin-left: 2%;
    float: left;
    padding: 9px;
  }
  /* line 87, ../sass/dpl/_width.scss */
  .container .pc-span9::before, .container .pc-span9::after {
    content: '';
    display: table;
    line-height: 0;
  }
  /* line 92, ../sass/dpl/_width.scss */
  .container .pc-span9::after {
    clear: both;
  }
  /* line 82, ../sass/dpl/_width.scss */
  .container .pc-span10 {
    width: 100%;
    margin-left: 2%;
    float: left;
    padding: 9px;
  }
  /* line 87, ../sass/dpl/_width.scss */
  .container .pc-span10::before, .container .pc-span10::after {
    content: '';
    display: table;
    line-height: 0;
  }
  /* line 92, ../sass/dpl/_width.scss */
  .container .pc-span10::after {
    clear: both;
  }
  /* line 98, ../sass/dpl/_width.scss */
  .container [class*="pc-span"]:first-child {
    margin-left: 0;
  }
}
@media screen and (max-width: 768px) {
  /* line 104, ../sass/dpl/_width.scss */
  body {
    overflow-x: hidden;
  }

  /* line 107, ../sass/dpl/_width.scss */
  .container {
    width: 100%;
  }
  /* line 109, ../sass/dpl/_width.scss */
  .container::before, .container::after {
    content: '';
    display: table;
    line-height: 0;
  }
  /* line 114, ../sass/dpl/_width.scss */
  .container::after {
    clear: both;
  }
  /* line 118, ../sass/dpl/_width.scss */
  .container .ph-span1 {
    width: 10%;
    padding: 9px;
    float: left;
  }
  /* line 118, ../sass/dpl/_width.scss */
  .container .ph-span2 {
    width: 20%;
    padding: 9px;
    float: left;
  }
  /* line 118, ../sass/dpl/_width.scss */
  .container .ph-span3 {
    width: 30%;
    padding: 9px;
    float: left;
  }
  /* line 118, ../sass/dpl/_width.scss */
  .container .ph-span4 {
    width: 40%;
    padding: 9px;
    float: left;
  }
  /* line 118, ../sass/dpl/_width.scss */
  .container .ph-span5 {
    width: 50%;
    padding: 9px;
    float: left;
  }
  /* line 118, ../sass/dpl/_width.scss */
  .container .ph-span6 {
    width: 60%;
    padding: 9px;
    float: left;
  }
  /* line 118, ../sass/dpl/_width.scss */
  .container .ph-span7 {
    width: 70%;
    padding: 9px;
    float: left;
  }
  /* line 118, ../sass/dpl/_width.scss */
  .container .ph-span8 {
    width: 80%;
    padding: 9px;
    float: left;
  }
  /* line 118, ../sass/dpl/_width.scss */
  .container .ph-span9 {
    width: 90%;
    padding: 9px;
    float: left;
  }
  /* line 118, ../sass/dpl/_width.scss */
  .container .ph-span10 {
    width: 100%;
    padding: 9px;
    float: left;
  }
}
/* line 128, ../sass/dpl/_width.scss */
.span1 {
  width: 10%;
  padding: 9px;
  float: left;
}

/* line 128, ../sass/dpl/_width.scss */
.span2 {
  width: 20%;
  padding: 9px;
  float: left;
}

/* line 128, ../sass/dpl/_width.scss */
.span3 {
  width: 30%;
  padding: 9px;
  float: left;
}

/* line 128, ../sass/dpl/_width.scss */
.span4 {
  width: 40%;
  padding: 9px;
  float: left;
}

/* line 128, ../sass/dpl/_width.scss */
.span5 {
  width: 50%;
  padding: 9px;
  float: left;
}

/* line 128, ../sass/dpl/_width.scss */
.span6 {
  width: 60%;
  padding: 9px;
  float: left;
}

/* line 128, ../sass/dpl/_width.scss */
.span7 {
  width: 70%;
  padding: 9px;
  float: left;
}

/* line 128, ../sass/dpl/_width.scss */
.span8 {
  width: 80%;
  padding: 9px;
  float: left;
}

/* line 128, ../sass/dpl/_width.scss */
.span9 {
  width: 90%;
  padding: 9px;
  float: left;
}

/* line 128, ../sass/dpl/_width.scss */
.span10 {
  width: 100%;
  padding: 9px;
  float: left;
}

/* line 1, ../sass/dpl/_img.scss */
img {
  border: 0;
  max-width: 100% !important;
  vertical-align: middle;
}

/* line 6, ../sass/dpl/_img.scss */
.img-responsive {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}

/* line 1, ../sass/dpl/_triangle.scss */
.triangle-down {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 4px 0 4px;
  border-color: #050505 transparent transparent transparent;
  line-height: 0px;
  _border-color: #050505 #000000 #000000 #000000;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-left: 2px;
}

/* line 14, ../sass/dpl/_triangle.scss */
.triangle-up {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 4px 4px 4px;
  border-color: transparent transparent #050505 transparent;
  line-height: 0px;
  _border-color: #000000 #000000 #050505 #000000;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-left: 2px;
}

/* line 38, ../sass/dpl/_triangle.scss */
.triangle-down-white {
  border-color: white transparent transparent transparent;
  _border-color: white black black black;
}

/* line 41, ../sass/dpl/_triangle.scss */
.triangle-down-yellow {
  border-color: #f4a928 transparent transparent transparent;
  _border-color: #f4a928 black black black;
}

/* line 44, ../sass/dpl/_triangle.scss */
.triangle-down-green {
  border-color: #85c51f transparent transparent transparent;
  _border-color: #85c51f black black black;
}

/* line 47, ../sass/dpl/_triangle.scss */
.triangle-down-md {
  border-width: 6px 6px 0 6px;
}

/* line 52, ../sass/dpl/_triangle.scss */
.triangle-up-white {
  border-color: transparent transparent white transparent;
  _border-color: black black white black;
}

/* line 55, ../sass/dpl/_triangle.scss */
.triangle-up-yellow {
  border-color: transparent transparent #f4a928 transparent;
  _border-color: black black #f4a928 black;
}

/* line 58, ../sass/dpl/_triangle.scss */
.triangle-up-green {
  border-color: transparent transparent #85c51f transparent;
  _border-color: black black #85c51f black;
}

/* line 61, ../sass/dpl/_triangle.scss */
.triangle-up-md {
  border-width: 0 6px 6px 6px;
}

/* line 3, ../sass/dpl/_progressbar.scss */
.progress {
  width: 100%;
  height: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
  background: #f5f5f5;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  position: relative;
}
/* line 11, ../sass/dpl/_progressbar.scss */
.progress .progress-bar {
  position: absolute;
  width: 69%;
  height: 100%;
  top: 0;
  left: 0;
  background: #f4aa28;
}
/* line 19, ../sass/dpl/_progressbar.scss */
.progress .active {
  background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
  background-size: 40px 40px;
  animation: progress_bar 2s linear 0s infinite normal;
  -webkit-animation: progress_bar 2s linear 0s infinite normal;
  -moz-animation: progress_bar 2s linear 0s infinite normal;
  -o-animation: progress_bar 2s linear 0s infinite normal;
}

@keyframes progress_bar {
  /* line 32, ../sass/dpl/_progressbar.scss */
  from {
    background-position: 0 0;
  }

  /* line 35, ../sass/dpl/_progressbar.scss */
  to {
    background-position: 40px 0;
  }
}

@-webkit-keyframes progress_bar {
  /* line 40, ../sass/dpl/_progressbar.scss */
  from {
    background-position: 0 0;
  }

  /* line 43, ../sass/dpl/_progressbar.scss */
  to {
    background-position: 40px 0;
  }
}

@-moz-keyframes progress_bar {
  /* line 48, ../sass/dpl/_progressbar.scss */
  from {
    background-position: 0 0;
  }

  /* line 51, ../sass/dpl/_progressbar.scss */
  to {
    background-position: 40px 0;
  }
}

@-o-keyframes progress_bar {
  /* line 56, ../sass/dpl/_progressbar.scss */
  from {
    background-position: 0 0;
  }

  /* line 59, ../sass/dpl/_progressbar.scss */
  to {
    background-position: 40px 0;
  }
}

/* line 4, ../sass/_company.scss */
dl,
dt,
dd {
  line-height: 1.5em;
}

/* line 8, ../sass/_company.scss */
dt {
  font-weight: bold;
  display: block;
}

/*Header*/
/* line 15, ../sass/_company.scss */
.header {
  width: 1340px;
  height: 142px;
  margin: auto;
  padding: 0;
  position: relative;
  top: 0;
  left: 0;
  background-color: #1271D6;
}
/* line 24, ../sass/_company.scss */
.header .nav {
  width: 1165px;
  height: 52px;
  margin: auto;
  padding: 0;
  display: table;
}
/* line 30, ../sass/_company.scss */
.header .nav ul {
  display: table-row;
  background: #1271D6;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1271d6), color-stop(100%, #0055b6));
  margin: auto;
}
/* line 35, ../sass/_company.scss */
.header .nav ul li {
  display: table-cell;
  line-height: 50px;
  text-align: center;
  background: url("../../images/line.png") no-repeat;
  position: relative;
  cursor: pointer;
}
/* line 42, ../sass/_company.scss */
.header .nav ul li:hover {
  background: #0C60B9;
}
/* line 45, ../sass/_company.scss */
.header .nav ul li a {
  font-size: 1.1429em;
  color: white;
}
/* line 48, ../sass/_company.scss */
.header .nav ul li a:hover {
  text-decoration: none;
}
/* line 51, ../sass/_company.scss */
.header .nav ul li a .active {
  background: #0055B6;
}

/* line 59, ../sass/_company.scss */
.header-logo {
  position: relative;
  float: left;
  top: 0;
  left: 100px;
  width: 683px;
  height: 90px;
  text-align: center;
}
/* line 67, ../sass/_company.scss */
.header-logo h1 {
  color: #fff;
  font-family: "huawenzhongsong";
  font-weight: bold;
  position: absolute;
  top: 25px;
  left: 0px;
  margin: 0;
  padding: 0;
}

/* line 78, ../sass/_company.scss */
.header-login {
  width: 532px;
  height: 90px;
  float: right;
  position: relative;
  top: 0;
  right: 20px;
}
/* line 85, ../sass/_company.scss */
.header-login form {
  position: absolute;
  top: 22px;
  right: 20px;
  color: #fff;
  width: 500px;
  height: 34px;
  margin-top: 2px;
  margin-bottom: 22px;
  font-family: 'Microsoft Yahei',Tahoma,Arial,sans-serif;
}
/* line 95, ../sass/_company.scss */
.header-login form .input-bg {
  width: 100px;
  height: 24px;
  outline: none;
  border: none;
  background: url(../../images/input-bg.png) no-repeat;
  margin-left: 8px;
  margin-right: 12px;
}
/* line 104, ../sass/_company.scss */
.header-login form .btn-bg {
  position: relative;
  top: 5px;
  width: 82px;
  height: 25px;
  padding: 0 12px;
  font-family: "Microsoft Yahei";
  color: #fff;
  background: #CD8D3A;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cd8d3a), color-stop(100%, #f7c275));
}

/* line 118, ../sass/_company.scss */
.loginlink {
  width: 100px;
  height: 30px;
  line-height: 1.5em;
  display: block;
  padding: 5px;
  margin: 0;
}

/* line 127, ../sass/_company.scss */
.container-qy {
  width: 940px;
  height: 50px;
  margin: auto;
  padding: 0 3px 0 3px;
}
/* line 132, ../sass/_company.scss */
.container-qy ul {
  width: 600px;
  height: 50px;
  margin: 0;
}
/* line 136, ../sass/_company.scss */
.container-qy ul li {
  height: 50px;
  margin-right: 28px;
  float: left;
  display: block;
}
/* line 141, ../sass/_company.scss */
.container-qy ul li a {
  padding: 15px 15px;
  line-height: 20px;
  display: block;
  position: relative;
  font-family: 'Microsoft Yahei',Tahoma,Arial,sans-serif;
  font-size: 16px;
  color: #000;
}
/* line 149, ../sass/_company.scss */
.container-qy ul li a:hover {
  text-decoration: none;
}
/* line 153, ../sass/_company.scss */
.container-qy ul li:hover {
  border-bottom-color: red;
  border-bottom-style: solid;
}

/* line 161, ../sass/_company.scss */
.pic {
  width: 1165px;
  height: 330px;
  margin: auto;
  padding: 0;
  position: relative;
  background-image: url("../../images/header1.jpg");
  -webkit-animation-name: pic;
  animation-name: pic;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}
/* line 176, ../sass/_company.scss */
.pic h1 {
  font-weight: bold;
  font-family: "microsoft yahei";
  position: absolute;
  top: 70px;
  left: 50px;
  margin: 0;
  padding: 0;
  color: #fff;
}
/* line 186, ../sass/_company.scss */
.pic .pic-main {
  width: 500px;
  height: 70px;
  position: absolute;
  left: 46px;
  top: 135px;
  background-color: rgba(255, 255, 255, 0.3);
}
/* line 193, ../sass/_company.scss */
.pic .pic-main p {
  color: #fff;
  letter-spacing: 1px;
  font-family: "microsoft yahei";
  line-height: 160%;
  font-weight: 700;
}

@-webkit-keyframes pic {
  /* line 203, ../sass/_company.scss */
  40% {
    background-image: url("../../images/header2.jpg");
  }

  /* line 206, ../sass/_company.scss */
  80% {
    background-image: url("../../images/header1.jpg");
  }
}

@keyframes pic {
  /* line 211, ../sass/_company.scss */
  40% {
    background-image: url("../../images/header2.jpg");
  }

  /* line 214, ../sass/_company.scss */
  80% {
    background-image: url("../../images/header1.jpg");
  }
}

/*Content*/
/* line 221, ../sass/_company.scss */
.content {
  width: 1165px;
  height: 1025px;
  margin: auto;
  position: relative;
  top: 6px;
  left: 0;
  border: 1px solid #D9E1EA;
  padding-bottom: 38px;
}

/* line 231, ../sass/_company.scss */
.content-main {
  width: 560px;
  height: 520px;
  margin: 0;
  padding: 0;
  float: left;
}

/* line 238, ../sass/_company.scss */
.cot-round1 {
  position: absolute;
  z-index: 1;
  width: 300px;
  height: 300px;
  border-radius: 150px;
  left: 200px;
  top: 110px;
  background: peachpuff;
}

/* line 249, ../sass/_company.scss */
.cot-round2 {
  position: absolute;
  z-index: 2;
  width: 230px;
  height: 230px;
  border-radius: 115px;
  left: 235px;
  top: 145px;
  background: lightpink;
}

/* line 259, ../sass/_company.scss */
.cot-round3 {
  position: absolute;
  z-index: 3;
  width: 204px;
  height: 204px;
  border-radius: 102px;
  left: 248px;
  top: 158px;
  text-align: center;
  background: -webkit-linear-gradient(left, #aaccee, #ff9966);
}
/* line 270, ../sass/_company.scss */
.cot-round3 h2 {
  color: #fff;
  font-weight: bold;
  font-family: "Microsoft Yahei";
  line-height: 204px;
  letter-spacing: 4px;
}

/* line 279, ../sass/_company.scss */
.cot-index {
  position: relative;
  float: left;
  z-index: 5;
  left: 90px;
  top: 0;
  width: 520px;
  height: 520px;
}

/* line 289, ../sass/_company.scss */
.cot-rou-ico {
  border-radius: 21px;
  display: block;
  font-size: 14px;
  height: 42px;
  overflow: visible;
  position: absolute;
  width: 42px;
  z-index: 6;
}
/* line 299, ../sass/_company.scss */
.cot-rou-ico dt {
  color: #00b4f5;
  font-size: 16px;
  width: 85px;
  position: absolute;
  z-index: 6;
}
/* line 308, ../sass/_company.scss */
.cot-rou-ico dd {
  position: relative;
  z-index: 7;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  font: 2em/150%;
  font-size: 28px;
}

/* line 320, ../sass/_company.scss */
.leftico1 {
  top: 48px;
  left: 239px;
  background: #1e80ec;
}
/* line 324, ../sass/_company.scss */
.leftico1 dt {
  left: 0px;
  top: -30px;
}

/* line 329, ../sass/_company.scss */
.leftico2 {
  top: 110px;
  left: 102px;
  background: #cbbb4c;
}
/* line 333, ../sass/_company.scss */
.leftico2 dt {
  left: -52px;
  top: -37px;
}

/* line 338, ../sass/_company.scss */
.leftico3 {
  top: 110px;
  left: 378px;
  background: #1e80ec;
}
/* line 342, ../sass/_company.scss */
.leftico3 dt {
  left: 45px;
  top: -17px;
}

/* line 347, ../sass/_company.scss */
.leftico4 {
  top: 230px;
  left: 53px;
  background: #62dc37;
}
/* line 351, ../sass/_company.scss */
.leftico4 dt {
  left: -55px;
  top: -24px;
}

/* line 356, ../sass/_company.scss */
.leftico5 {
  top: 230px;
  left: 424px;
  background: #08c3a6;
}
/* line 360, ../sass/_company.scss */
.leftico5 dt {
  left: 35px;
  top: -24px;
}

/* line 365, ../sass/_company.scss */
.leftico6 {
  top: 365px;
  left: 102px;
  background: #aa1eec;
}
/* line 369, ../sass/_company.scss */
.leftico6 dt {
  left: -80px;
  top: 20px;
}

/* line 374, ../sass/_company.scss */
.leftico7 {
  top: 365px;
  left: 378px;
  background: #f7318e;
}
/* line 378, ../sass/_company.scss */
.leftico7 dt {
  left: 43px;
  top: 22px;
}

/* line 383, ../sass/_company.scss */
.leftico8 {
  top: 422px;
  left: 239px;
  background: #f6d20a;
}
/* line 387, ../sass/_company.scss */
.leftico8 dt {
  left: -10px;
  top: 60px;
}

@-webkit-keyframes pop {
  /* line 395, ../sass/_company.scss */
  50% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }

  /* line 400, ../sass/_company.scss */
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pop {
  /* line 407, ../sass/_company.scss */
  50% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }

  /* line 412, ../sass/_company.scss */
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* line 418, ../sass/_company.scss */
.pop {
  display: inline-block;
  -webkit-transform: translateZ(10);
  transform: translateZ(10);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
/* line 423, ../sass/_company.scss */
.pop:hover {
  -webkit-animation-name: pop;
  animation-name: pop;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@keyframes bigs {
  /* line 438, ../sass/_company.scss */
  15% {
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
    opacity: 0;
  }

  /* line 443, ../sass/_company.scss */
  50% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
    opacity: 0.5;
  }

  /* line 448, ../sass/_company.scss */
  75% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0.7;
  }

  /* line 453, ../sass/_company.scss */
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes bigs {
  /* line 460, ../sass/_company.scss */
  15% {
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
    opacity: 0;
  }

  /* line 465, ../sass/_company.scss */
  50% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
    opacity: 0.5;
  }

  /* line 470, ../sass/_company.scss */
  75% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0.7;
  }

  /* line 475, ../sass/_company.scss */
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

/* line 481, ../sass/_company.scss */
.big {
  display: inline-block;
  -webkit-transform: translateZ(10);
  transform: translateZ(10);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-animation-name: bigs;
  animation-name: bigs;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@keyframes smalls {
  /* line 496, ../sass/_company.scss */
  10% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0.6;
  }

  /* line 501, ../sass/_company.scss */
  80% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0.8;
  }

  /* line 506, ../sass/_company.scss */
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes smalls {
  /* line 513, ../sass/_company.scss */
  10% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0.6;
  }

  /* line 518, ../sass/_company.scss */
  80% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0.8;
  }

  /* line 523, ../sass/_company.scss */
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

/* line 529, ../sass/_company.scss */
.small {
  display: inline-block;
  -webkit-transform: translateZ(10);
  transform: translateZ(10);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-animation-name: smalls;
  animation-name: smalls;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* line 543, ../sass/_company.scss */
.cot-active-now {
  position: relative;
  width: 375px;
  height: 510px;
  right: 90px;
  top: 55px;
  float: right;
}
/* line 550, ../sass/_company.scss */
.cot-active-now h2 {
  width: 100px;
  float: left;
  color: #4d7cb1;
}
/* line 555, ../sass/_company.scss */
.cot-active-now .tab-content {
  position: absolute;
  top: 55px;
  clear: both;
  overflow: hidden;
  height: 350px;
  width: 375px;
}
/* line 562, ../sass/_company.scss */
.cot-active-now .tab-content .title1, .cot-active-now .tab-content .title2, .cot-active-now .tab-content .title3, .cot-active-now .tab-content .title4 {
  width: 375px;
  height: 300px;
}
/* line 567, ../sass/_company.scss */
.cot-active-now .tab-content .title2, .cot-active-now .tab-content .title3, .cot-active-now .tab-content .title4 {
  display: none;
}
/* line 570, ../sass/_company.scss */
.cot-active-now .tab-content .active-con {
  clear: both;
  width: 375px;
  height: 40px;
  overflow: hidden;
  display: block;
  margin-bottom: 15px;
}
/* line 577, ../sass/_company.scss */
.cot-active-now .tab-content .active-con dl {
  position: relative;
  z-index: 1;
  float: left;
  width: 325px;
  height: 40px;
  font: normal 16px/50px 'microsoft yahei';
  background: #66a7ef;
  color: #ffffff;
}
/* line 587, ../sass/_company.scss */
.cot-active-now .tab-content .active-con dt {
  position: absolute;
  z-index: 2;
  top: 0;
  background: #66a7ef;
}
/* line 593, ../sass/_company.scss */
.cot-active-now .tab-content .active-con dd {
  position: absolute;
  z-index: 1;
  top: 0;
  background: #ff9c15;
}
/* line 600, ../sass/_company.scss */
.cot-active-now .tab-content .active-con dd,
.cot-active-now .tab-content .active-con dt {
  clear: both;
  width: 325px;
  height: 40px;
  overflow: hidden;
  padding: 0 20px;
  font: normal normal 16px/40px 'Microsoft YaHei';
}
/* line 609, ../sass/_company.scss */
.cot-active-now .tab-content .active-con .span-right {
  position: relative;
  top: 0;
  right: 0;
  color: white;
  width: 50px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #66a7ef;
  display: inline-block;
  font-weight: 900;
}
/* line 621, ../sass/_company.scss */
.cot-active-now .tab-content .active-con .span-right img {
  line-height: 40px;
}

/* line 628, ../sass/_company.scss */
.nave-tabs {
  width: 80px;
  height: 20px;
  position: absolute;
  top: 12px;
  right: 0;
  padding: 0;
}
/* line 635, ../sass/_company.scss */
.nave-tabs .active-tabs {
  background: #ff9c15;
}
/* line 638, ../sass/_company.scss */
.nave-tabs li {
  list-style: square;
  display: block;
  float: left;
  width: 12px;
  height: 12px;
  background-color: #dddddd;
  margin-left: 8px;
  cursor: pointer;
}

/* line 649, ../sass/_company.scss */
.peo {
  width: 535px;
  height: 480px;
  position: absolute;
  top: 520px;
  left: 90px;
}
/* line 655, ../sass/_company.scss */
.peo a {
  color: #4d7cb1;
  float: right;
  padding: 5px;
  margin-top: 22px;
  letter-spacing: 3px;
}
/* line 662, ../sass/_company.scss */
.peo h2 {
  color: #4d7cb1;
  margin-top: 6px;
  padding: 0;
  float: left;
  font-weight: bold;
}
/* line 669, ../sass/_company.scss */
.peo .peo-talent {
  width: 535px;
  height: 435px;
  position: relative;
  top: 50px;
  left: 0;
  border: 1px solid #D9E1EA;
  padding-bottom: 38px;
}
/* line 677, ../sass/_company.scss */
.peo .peo-talent .peo-main {
  width: 510px;
  height: 125px;
  margin: 14px 10px 0 15px;
  position: relative;
  background: #fcfcfc;
}
/* line 683, ../sass/_company.scss */
.peo .peo-talent .peo-main .peo-pic {
  width: 104px;
  height: 108px;
  margin: 8px 0 9px 8px;
  background: url("../../images/people.jpg");
  position: absolute;
  top: 0;
  left: 0;
}
/* line 692, ../sass/_company.scss */
.peo .peo-talent .peo-main .peo-content {
  width: 382px;
  height: 108px;
  margin: 8px 8px 9px 8px;
  position: absolute;
  left: 125px;
}
/* line 698, ../sass/_company.scss */
.peo .peo-talent .peo-main .peo-content h4 {
  color: #1e7fe9;
  font-weight: bold;
}
/* line 702, ../sass/_company.scss */
.peo .peo-talent .peo-main .peo-content a {
  display: inline;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  float: left;
}
/* line 709, ../sass/_company.scss */
.peo .peo-talent .peo-main .peo-content p {
  letter-spacing: 1px;
  position: absolute;
  top: 30px;
  left: 0;
  color: #666;
  font-size: 13px;
}

/* line 722, ../sass/_company.scss */
.micro-blog {
  width: 375px;
  height: 480px;
  position: absolute;
  top: 520px;
  right: 90px;
}
/* line 728, ../sass/_company.scss */
.micro-blog h2 {
  color: #4d7cb1;
  margin-top: 25px;
  margin-bottom: 35px;
  padding: 0;
  font-weight: bold;
  display: block;
  clear: both;
}
/* line 738, ../sass/_company.scss */
.micro-blog a {
  display: block;
  height: 25px;
  margin: 14px 0;
  color: #666;
  letter-spacing: 1.5px;
  font-size: 14px;
  font-family: "huawenzhongsong";
  overflow: hidden;
}

/*Footer*/
/* line 750, ../sass/_company.scss */
.footer {
  width: 1340px;
  height: 55px;
  position: relative;
  background: #18416f;
  margin-top: 20px;
}
/* line 756, ../sass/_company.scss */
.footer .footer-content {
  width: 860px;
  height: 55px;
  margin: auto;
}
/* line 761, ../sass/_company.scss */
.footer .footer-content a {
  display: block;
  float: left;
  width: 95px;
  height: 51px;
  margin: 2px 12px;
  color: #6890be;
  line-height: 51px;
  font-family: huawenzhongsong;
  font-size: 12px;
}
